Another_copy_of_RAG_Llama_AVPN_IT_Data.ipynb
api_keys.txt
Copy_of_RAG_Llama_AVPN_IT_Data.ipynb
LLM-Gemini.ipynb
RAG_Gemini_AVPN_IT_Data.ipynb
Untitled.ipynb
.ipynb_checkpoints/Another_copy_of_RAG_Llama_AVPN_IT_Data-checkpoint.ipynb
.ipynb_checkpoints/app-checkpoint.py
.ipynb_checkpoints/Book_Covers_-checkpoint.ipynb
.ipynb_checkpoints/LLM-Gemini-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
pages